<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="Pattern" class="btn-group" style="margin-right: 5px;display: none;">
    <button type="button" th:id="'pattern_btn_' + ${stat.index}" class="btn btn-info"
            val="&nbsp;&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li th:each="var : ${patterns}" th:val="${var.key}" onclick="choose(this);">
            <a href="javascript:void(0);" th:text="${var.value}"></a>
        </li>
    </ul>
    <input type="hidden" id="pattern_select"/>
</div>
<div th:fragment="datetime">
    <div class="btn-group" style="margin-right: 5px;">
        <button type="button" th:id="'datetime_btn_' + ${stat.index}" class="btn btn-info"
                val="&nbsp;&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li onclick="choose(this);" val="Past"><a href="javascript:void(0);">Past（数值必须是一个过去的日期）</a></li>
            <li onclick="choose(this);" val="Future"><a href="javascript:void(0);">Future（数值必须是一个将来的日期）</a></li>
            <li onclick="choose(this);" val="Pattern"><a href="javascript:void(0);">Pattern（数值必须符合指定的正则表达式）</a></li>
        </ul>
        <input type="hidden" id="date_select"/>
    </div>
    <div th:replace="security/typeTemplate :: Pattern"></div>
    <label style="display: none">
        <input class="form-control" type="text" id="datePattern"/>
    </label>
</div>
<div th:fragment="number_length">
    <label data-original-title="校验整数位数和小数位数">
        <input type="checkbox" id="fieldDigits" onclick="chooseNextAll(this)"/>&nbsp;Digits
    </label>
    <label style="display: none;">
        <input class="form-control" id="integer" name="number" type="text" style="width: 70px;"/>
    </label>
    <label style="display: none;">
        <input class="form-control" id="fraction" name="number" type="text" style="width: 70px;"/>
    </label>
</div>
<div th:fragment="number">
    <div class="btn-group" style="margin-right: 5px;">
        <button type="button" th:id="'int_btn_' + ${stat.index}" class="btn btn-info" val="&nbsp;&nbsp;&nbsp;&nbsp;">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li onclick="choose(this);" val="max"><a href="javascript:void(0);">Max（数值<=指定的值）</a></li>
            <li onclick="choose(this);" val="min"><a href="javascript:void(0);">Min（数值>=指定的值）</a></li>
            <li onclick="choose(this);" val="range"><a href="javascript:void(0);">Range（数值必须在范围内）</a></li>
        </ul>
        <input type="hidden" id="number_select"/>
    </div>
    <label style="display: none">
        <input class="form-control" type="text" id="numberMin" name="number" style="width: 90px;"/>
    </label>
    <label style="display: none">~</label>
    <label style="display: none">
        <input class="form-control" type="text" id="numberMax" name="number" style="width: 90px;"/>
    </label>
</div>
<div th:fragment="character_length">
    <label data-original-title="字符串的大小必须在指定的范围内">
        <input type="checkbox" id="charLength" onclick="chooseNextAll(this)"/>&nbsp;Length
    </label>
    <label style="display: none;">
        <input class="form-control" type="text" id="min" name="number" style="width: 65px;"/>
    </label>
    <label style="display: none;">
        <input class="form-control" type="text" id="max" name="number" style="width: 65px;"/>
    </label>
</div>
<div th:fragment="character">
    <div style="margin-right: 5px;">
        <label data-original-title="正则表达式验证">
            <input type="checkbox" id="fieldPattern" onclick="chooseNext(this)"/>&nbsp;Pattern
        </label>
    </div>
    <div th:replace="security/typeTemplate :: Pattern"></div>
    <label style="display: none">
        <input class="form-control" type="text" id="charPattern"/>
    </label>
</div>
<div th:fragment="bit">
    <div class="btn-group" style="margin-right: 5px;">
        <button type="button" th:id="'datetime_btn_' + ${stat.index}" class="btn btn-info"
                val="&nbsp;&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li onclick="choose(this);" val="AssertTrue"><a href="javascript:void(0);">AssertTrue（数值必须为 true）</a></li>
            <li onclick="choose(this);" val="AssertFalse"><a href="javascript:void(0);">AssertFalse（数值必须为 false）</a>
            </li>
        </ul>
        <input type="hidden" id="bit_select"/>
    </div>
</div>
</html>