<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:inline="javascript">
    $(function () {
        var opt = {
            container: '#data_table',
            bSort: false,
            columns: [
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 100, orderable: false},
                {sClass: "text-left", sWidth: 100, orderable: false},
                {sClass: "text-left", sWidth: 50, orderable: false},
                {sClass: "text-left", sWidth: 50, visible: false},
                {sClass: "text-left", sWidth: "100%", orderable: false}
            ],
            buttons: [
                {
                    id: 'add_btn',
                    type: 'button',
                    text: '新增',
                    title: '新增菜单信息',
                    class: 'btn btn-primary',
                    action: function () {
                        load_url(/*[[@{/menu/add}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
                    }
                }, {
                    id: 'status_btn',
                    type: 'select',
                    text: '状态',
                    title: '菜单状态选择',
                    class: 'btn btn-default',
                    options: [[${options}]],
                    action: function (data) {
                        var val = $.fn.dataTable.util.escapeRegex(data);
                        table.column(7).search(val ? '^' + val + '$' : '', true, false).draw();
                    }
                }
            ]
        };
        //dt-buttons
        var table = matchDomTable(opt, true);
    })
</script>
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <h1>
        系统信息
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-3">
            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">系统列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                    <ul class="todo-list">
                        <li th:each="var: ${systems}" th:id="${var.guid}" th:onclick="'load(\'' + ${var.guid} + '\')'" style="cursor: pointer;">
                            <span class="text" th:text="${var.namecn}" style="color: #367fa9"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-9 left-column">
            <div class="box box-primary">
                <div class="box-header" style="padding-bottom: 0 !important;padding-top: 0 !important;">
                    <ol class="breadcrumb" style="margin-bottom: 0 !important; background: transparent;">
                        &nbsp;
                    </ol>
                </div>
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped" width="100%">
                        <thead>
                        <tr>
                            <th>菜单编号</th>
                            <th>菜单名称</th>
                            <th>Controller映射</th>
                            <th>Mapping映射</th>
                            <th>排序</th>
                            <th>状态</th>
                            <th>状态(隐藏)</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="var, stat : ${data}">
                            <td th:text="${var.code}"></td>
                            <td th:text="${var.name}"></td>
                            <td th:text="${var.controller}"></td>
                            <td th:text="${var.mapping}"></td>
                            <td th:text="${var.sort}"></td>
                            <td th:utext="${status.get(var.status)}"></td>
                            <td th:utext="${var.status}"></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'edit(\'' + ${var.guid} + '\');'"
                                        th:data-original-title="'编辑' + ${var.namecn} + ''" data-placement="right">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'disable(\'' + ${var.guid} + '\');'" th:if="${var.status == 1}"
                                        th:data-original-title="'禁用' + ${var.namecn} + ''" data-placement="right">
                                    <i class="fa fa-ban"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'valid(\'' + ${var.guid} + '\');'" th:if="${var.status == 2}"
                                        th:data-original-title="'启用' + ${var.namecn} + ''" data-placement="right">
                                    <i class="fa fa-check-square-o"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn" th:onclick="'child(\'' + ${var.guid} + '\');'"
                                        th:data-original-title="'查看' + ${var.namecn} + '菜单'" data-placement="right">
                                    <i class="fa fa-search"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
        $(".todo-list").height(win.height - 255);
    });

    function edit(guid) {
        load_url(/*[[@{/menu/edit}]]*/ "", $('.content-wrapper'), {guid: guid});
    }

    function disable(guid) {
        var opt = {
            callback: function (result) {
                load_url(/*[[@{/menu/index}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
            }
        };
        ajax_action(/*[[@{/menu/disable}]]*/ "", {guid: guid}, opt);
    }

    function valid(guid) {
        var opt = {
            callback: function (result) {
                load_url(/*[[@{/menu/index}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
            }
        };
        ajax_action(/*[[@{/menu/valid}]]*/ "", {guid: guid}, opt);
    }

    function child(guid) {
        load_url(/*[[@{/menu/index}]]*/ "", $('.content-wrapper'), {parent: guid});
    }
</script>
</body>
</html>