<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/layout :: validator"></head>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        系统服务
        <small th:text="${operation}"></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- left column -->
    <div class="col-md-9 left-column">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">基础信息</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="number" class="col-sm-2 control-label">系统编号</label>
                        <div class="col-xs-3 input-group left-float">
                            <input type="email" class="form-control" id="number" name="number" placeholder="请输入系统编号" th:value="${model} ? ${model.number}">
                        </div>
                        <label for="type_sel" class="col-sm-2 control-label">系统类型</label>
                        <div class="col-xs-3 input-group left-float">
                            <div class="btn-group" data-autorun="2" data-original-title="系统类型选择">
                                <button type="button" id="type_btn" class="btn btn-warning dropdown-toggle" th:val="${defaultSel.value}" th:text="${defaultSel.text}"></button>
                                <button type="button" id="type_sel" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li th:each="var : ${options}" th:val="${var.value}" onclick="choose(this);">
                                        <a href="javascript:void(0);" th:text="${var.text}"></a>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" id="type" name="type" th:value="${defaultSel.value}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="namecn" class="col-sm-2 control-label">系统名称</label>
                        <div class="col-xs-3 input-group left-float">
                            <input type="email" class="form-control" id="namecn" name="namecn" placeholder="请输入系统名称">
                        </div>
                        <label for="nameen" class="col-sm-2 control-label">系统简称</label>
                        <div class="col-xs-3 input-group left-float">
                            <input type="email" class="form-control" id="nameen" name="nameen" placeholder="请输入系统简称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="domain" class="col-sm-2 control-label">Domain</label>
                        <div class="col-xs-3 input-group left-float">
                            <input type="email" class="form-control" id="domain" name="domain" placeholder="请输入系统域名">
                        </div>
                        <label for="contextpath" class="col-sm-2 control-label">ContextPath</label>
                        <div class="col-xs-3 input-group left-float">
                            <input type="email" class="form-control" id="contextpath" name="contextpath" placeholder="请输入系统上下文">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="homepage" class="col-sm-2 control-label">HomePage</label>
                        <div class="col-xs-3 input-group left-float">
                            <input type="email" class="form-control" id="homepage" name="homepage" placeholder="请输入系统首页">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary pull-right" onclick="editSubmit()" data-original-title="提交表单">提交</button>
                    <button type="button" class="btn btn-default pull-right" onclick="goBack()" data-original-title="取消返回">取消</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
    });
    var choose = function (obj) {
        var opt = {
            id: 'type_btn',
            action: function (data) {
                $('#type').val(data);
            }
        };
        selectChange(obj, opt);
    };
    var editSubmit = function () {
        var params = $(".form-horizontal").serializeJson();
        var opt = {
            callback: function (result) {
                $(".form-horizontal")[0].reset();
            }
        };
        ajax_action(/*[[@{/save}]]*/ "", params, opt);
    };
    var goBack = function () {
        load_url(/*[[@{/grid}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
    };
    var sort = function () {
        var params = '';
        $(this).find('li').each(function (i) {
            if (i !== 0) params += '#';
            params += $(this).attr('id') + ',' + i;
        });
        ajax_action(/*[[@{/sort}]]*/ "", {sortable: params});
    }
    var load = function (guid) {
        var opt = {
            waiting: false,
            handler: function (result) {
                $('#guid').val(result.result.guid);
                $('#number').val(result.result.number.substring(result.result.number.length - 5));
                $('#content').val(result.result.content);
                $('#description').val(result.result.description);
            }
        };
        ajax_action(/*[[@{/load}]]*/ "", {guid: guid}, opt);
    }
</script>
</html>