<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    $(function () {
        var opt = {
            container: '#data_table',
            bSort: false,
            columns: [
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 100, orderable: false},
                {sClass: "text-left", sWidth: 50, orderable: false},
                {sClass: "text-left", sWidth: 50, visible: false},
                {sClass: "text-left", sWidth: "100%", orderable: false}
            ],
            buttons: [
                {
                    id: 'add_btn',
                    type: 'button',
                    text: '新增',
                    title: '新增按钮信息',
                    class: 'btn btn-primary',
                    action: function () {
                        load_url(/*[[@{/button/add}]]*/ "", $('.content-wrapper'), {
                            system: [[${system}]],
                            parent: [[${parent}]]
                        });
                    }
                }, {
                    id: 'status_btn',
                    type: 'select',
                    text: '状态',
                    title: '按钮状态选择',
                    class: 'btn btn-default',
                    options: [[${options}]],
                    action: function (data) {
                        var val = $.fn.dataTable.util.escapeRegex(data);
                        table.column(7).search(val ? '^' + val + '$' : '', true, false).draw();
                    }
                }
            ]
        };
        //dt-buttons
        var table = matchDomTable(opt, true);
    })
</script>
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <h1>
        <span th:text="${header}"></span>
        <small th:text="${small}"></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header" style="padding-bottom: 0 !important;padding-top: 0 !important;">
                    <ol class="breadcrumb" style="margin-bottom: 0 !important; background: transparent;">
                        <li name="breadcrumb" th:each="breadcrumb, stat : ${breadcrumbs}"
                            th:utext="${stat.last} ? ${breadcrumb.text} :
                                |<a href=javascript:void(0); onclick=breadcrumb('${breadcrumb.url}','${breadcrumb.params['guid']}');>${breadcrumb.text}</a>|"
                            th:class="${stat.last} ? ${breadcrumb.cls}"></li>
                    </ol>
                </div>
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped" width="100%">
                        <thead>
                        <tr>
                            <th>按钮编号</th>
                            <th>按钮名称</th>
                            <th>按钮类型</th>
                            <th>状态</th>
                            <th>状态(隐藏)</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="var, stat : ${data}">
                            <td th:text="${var.code}"></td>
                            <td th:text="${var.name}"></td>
                            <td th:text="${var.type}"></td>
                            <td th:utext="${status.get(var.status)}"></td>
                            <td th:utext="${var.status}"></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'edit(\'' + ${var.guid} + '\');'"
                                        th:data-original-title="'编辑' + ${var.name} + ''" data-placement="right">
                                    <span class="fa fa-edit"></span>编辑
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'disable(\'' + ${var.guid} + '\');'" th:if="${var.status == 1}"
                                        th:data-original-title="'禁用' + ${var.name} + ''" data-placement="right">
                                    <span class="fa fa-ban"></span>禁用
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'valid(\'' + ${var.guid} + '\');'" th:if="${var.status == 2}"
                                        th:data-original-title="'启用' + ${var.name} + ''" data-placement="right">
                                    <span class="fa fa-check-square-o"></span>启用
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'child(\'' + ${var.guid} + '\');'" th:if="${var.isleaf}"
                                        th:data-original-title="'查看' + ${var.name} + '子菜单'" data-placement="right">
                                    <span class="fa fa-search"></span>查看
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'button(\'' + ${var.guid} + '\');'" th:if="${!var.isleaf}"
                                        th:data-original-title="'查看' + ${var.name} + '菜单按钮'" data-placement="right">
                                    <span class="fa fa-search"></span>查看
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
        $(".todo-list").height(win.height - 255);
    });

    function edit(guid) {
        load_url(/*[[@{/button/edit}]]*/ "", $('.content-wrapper'), {guid: guid, system: [[${system}]]});
    }

    function disable(guid) {
        var opt = {
            callback: function (result) {
                load_url(/*[[@{/button/index}]]*/ "", $('.content-wrapper'), {
                    guid: [[${parent}]],
                    system: [[${system}]]
                });
            }
        };
        ajax_action(/*[[@{/button/disable}]]*/ "", {guid: guid}, opt);
    }

    function valid(guid) {
        var opt = {
            callback: function (result) {
                load_url(/*[[@{/button/index}]]*/ "", $('.content-wrapper'), {
                    guid: [[${parent}]],
                    system: [[${system}]]
                });
            }
        };
        ajax_action(/*[[@{/button/valid}]]*/ "", {guid: guid}, opt);
    }

    function child(guid) {
        load_url(/*[[@{/button/index}]]*/ "", $('.content-wrapper'), {guid: guid, system: [[${system}]]});
    }

    function breadcrumb(url, guid) {
        load_url(ctx + url, $('.content-wrapper'), {guid: guid, system: [[${system}]]});
    }
</script>
</html>