<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="nav navbar-nav">
    <li class="active"><a href="#intro">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#service">Service</a></li>
    <li><a href="#contact">Contact</a></li>
    <li th:if="${const_uams_assertion == null}">
        <a th:href="${loginUrl}">login</a>
    </li>
    <li th:if="${const_uams_assertion != null}" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           th:utext="${const_uams_assertion.account} + '&nbsp;<b class=caret></b>'"></a>
        <ul class="dropdown-menu">
            <li><a href="#">账号设置</a></li>
            <li><a th:href="${logoutUrl}">退出</a></li>
        </ul>
    </li>
</ul>
</html>