<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title th:text="${title}"></title>
    <!-- bootstrap.css -->
    <link th:href="${application.static_resource} + '/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css'" rel="stylesheet">
    <link th:href="${application.static_resource} + '/webjars/bootstrapValidator/0.5.2/dist/css/bootstrapValidator.min.css'" rel="stylesheet">
    <!-- dataTables.css -->
    <link th:href="${application.static_resource} + '/webjars/datatables.net-bs/1.10.16/css/dataTables.bootstrap.css'" rel="stylesheet">
    <!-- dataTables.css -->
    <link th:href="${application.static_resource} + '/static/css/datatables/net-buttons/buttons.dataTables.min.css'" rel="stylesheet">
    <!-- font-awesome.css -->
    <link th:href="${application.static_resource} + '/static/font-awesome/css/font-awesome.min.css'" rel="stylesheet">
    <!-- AdminLTE style -->
    <link th:href="${application.static_resource} + '/static/backend/css/AdminLTE.css'" rel="stylesheet">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link th:href="${application.static_resource} + '/static/backend/css/skins/_all-skins.min.css'" rel="stylesheet">
    <!-- font-google.css -->
    <link th:href="${application.static_resource} + '/static/backend/css/font-google.css'" rel="stylesheet">
    <!-- jquery js -->
    <script th:src="${application.static_resource} + '/webjars/jquery/1.10.2/jquery.min.js'"></script>
    <script th:src="${application.static_resource} + '/webjars/jquery-ui/1.12.1/jquery-ui.min.js'"></script>
    <!-- bootstrap js -->
    <script th:src="${application.static_resource} + '/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js'"></script>
    <script th:src="${application.static_resource} + '/webjars/bootstrapValidator/0.5.2/dist/js/bootstrapValidator.min.js'"></script>
    <!-- datatables js -->
    <script th:src="${application.static_resource} + '/webjars/datatables.net/1.10.16/js/jquery.dataTables.min.js'"></script>
    <script th:src="${application.static_resource} + '/webjars/datatables.net-bs/1.10.16/js/dataTables.bootstrap.min.js'"></script>
    <script th:src="${application.static_resource} + '/webjars/datatables.net-buttons/1.4.2/js/dataTables.buttons.min.js'"></script>
    <script th:src="${application.static_resource} + '/webjars/datatables.net-buttons/1.4.2/js/buttons.html5.min.js'"></script>
    <!-- FastClick -->
    <script th:src="${application.static_resource} + '/static/js/other/fastclick.js'"></script>
    <script th:src="${application.static_resource} + '/static/backend/js/adminlte.min.js'"></script>
    <script th:src="${application.static_resource} + '/static/backend/js/demo.js'"></script>
    <script th:src="${application.static_resource} + '/static/plugins/layer/layer.js'"></script>
    <script th:src="${application.static_resource} + '/static/js/base/common.js'"></script>
    <script th:src="${application.static_resource} + '/static/js/base/map.js'"></script>
    <script th:src="${application.static_resource} + '/static/js/base/util.js'"></script>
</head>
</html>