<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="46"></th>
            <th width="202">名称</th>
            <th width="82">能否为空</th>
            <th width="153">类型</th>
            <th width="103">约束</th>
            <th>说明</th>
        </tr>
        </thead>
    </table>
</div>
<div id="table_comment" class="box-body table-responsive no-padding" style="overflow-y: scroll;">
    <div th:each="var, stat : ${data}" class="table-comment collapsed-box">
        <div class="comment-div">
            <div style="width: 50px;">
                <button type="button" class="btn btn-box-tool" onclick="collapse(this);">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div style="width: 200px;" th:text="${var.name}"></div>
            <div style="width: 80px;" th:text="${var.isNull}"></div>
            <div style="width: 150px;" th:text="${var.type}"></div>
            <div style="width: 100px;" th:text="${var.key}"></div>
            <div th:text="${var.comment}"></div>
        </div>
        <div class="comment-div" style="display: none;">
            <div style="width: 50px;padding-left: 5px;">
                <label data-original-title="添加验证">
                    <input type="checkbox" onclick="addVerify(this);"/>
                </label>
            </div>
            <div style="width: 200px;display: none;">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" onclick="chooseVerify(this);">默认</button>
                    <button type="button" class="btn btn-success" onclick="chooseVerify(this);">自定义</button>
                </div>
            </div>
            <div style="width: 80px;display: none;">
                <label>
                    <input type="checkbox"/>&nbsp;notNull
                </label>
            </div>
            <div style="display: none;" th:if="${var.type == 'datetime'}">
                <div class="btn-group" style="margin-right: 5px;">
                    <button type="button" th:id="'datetime_btn_' + ${stat.index}" class="btn btn-info" val="&nbsp;&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li onclick="choose(this);" val="Past"><a href="javascript:void(0);">Past（数值必须是一个过去的日期）</a></li>
                        <li onclick="choose(this);" val="Future"><a href="javascript:void(0);">Future（数值必须是一个将来的日期）</a></li>
                        <li onclick="choose(this);" val="Pattern"><a href="javascript:void(0);">Pattern（数值必须符合指定的正则表达式）</a></li>
                    </ul>
                    <input type="hidden" />
                </div>
                <label style="display: none">
                    <input class="form-control" type="text"/>
                </label>
            </div>
            <div style="display: none;width: 200px;" th:if="${#strings.contains(var.type, 'int') || #strings.contains(var.type, 'decimal')}">
                <label data-original-title="校验整数位数和小数位数">
                    <input type="checkbox" onclick="chooseNext(this)"/>&nbsp;Digits
                </label>
                <label style="display: none;">
                    <input class="form-control" type="text" style="width: 70px;" />
                </label>
                <label style="display: none;">
                    <input class="form-control" type="text" style="width: 70px;" />
                </label>
            </div>
            <div style="display: none;width: 435px;" th:if="${#strings.contains(var.type, 'int') || #strings.contains(var.type, 'decimal')}">
                <div class="btn-group" style="margin-right: 5px;">
                    <button type="button" th:id="'int_btn_' + ${stat.index}" class="btn btn-info" val="&nbsp;&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li onclick="choose(this);" val="Max"><a href="javascript:void(0);">Max（数值<=指定的值）</a></li>
                        <li onclick="choose(this);" val="Min"><a href="javascript:void(0);">Min（数值>=指定的值）</a></li>
                        <li onclick="choose(this);" val="Range"><a href="javascript:void(0);">Range（数值必须在范围内）</a></li>
                    </ul>
                    <input type="hidden" />
                </div>
                <label style="display: none">
                    <input class="form-control" type="text" style="width: 90px;" />
                </label>
                <label style="display: none">~</label>
                <label style="display: none">
                    <input class="form-control" type="text" style="width: 90px;" />
                </label>
            </div>
            <div style="display: none;width: 200px;" th:if="${#strings.contains(var.type, 'char')}">
                <label data-original-title="字符串的大小必须在指定的范围内">
                    <input type="checkbox" onclick="chooseNext(this)"/>&nbsp;Length
                </label>
                <label style="display: none;">
                    <input class="form-control" type="text" style="width: 65px;" />
                </label>
                <label style="display: none;">
                    <input class="form-control" type="text" style="width: 65px;" />
                </label>
            </div>
            <div style="display: none;width: 435px;" th:if="${#strings.contains(var.type, 'char')}">
                <label data-original-title="正则表达式验证">
                    <input type="checkbox" onclick="chooseNext(this)"/>&nbsp;Pattern
                </label>
                <label style="display: none">
                    <input class="form-control" type="text"/>
                </label>
            </div>
            <div style="display: none;" th:if="${#strings.contains(var.type, 'bit')}">
                <div class="btn-group" style="margin-right: 5px;">
                    <button type="button" th:id="'datetime_btn_' + ${stat.index}" class="btn btn-info" val="&nbsp;&nbsp;&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li onclick="choose(this);" val="AssertTrue"><a href="javascript:void(0);">AssertTrue（数值必须为 true）</a></li>
                        <li onclick="choose(this);" val="AssertFalse"><a href="javascript:void(0);">AssertFalse（数值必须为 false）</a></li>
                    </ul>
                    <input type="hidden" />
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .comment-div {
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        height: 40px;
        line-height: 40px;
    }

    .comment-div:hover {
        background-color: #f5f5f5;
    }

    .comment-div div {
        display: block;
        float: left;
    }

    .comment-div div label {
        margin-bottom: 0 !important;
    }

    .comment-div .btn-group {
        margin-top: 3px;
    }
</style>
<script th:inline="javascript">
    $(function () {
        $('#table_comment').height(win.height - 200);
        //显示tooltip
        $("[data-original-title]").tooltip();
    });
    // 校验类型下拉框选择
    var choose = function (element) {
        var group = $(element).parent().parent();
        var btn = group.find(".btn-info").first();
        var opt = {
            id: btn.attr('id'),
            action: function (data) {
                group.find('input').val(data);
                if ($.trim(data) === '' || data === 'Past' || data === 'Future') {
                    group.nextAll().hide();
                } else if (data === 'Range' || data === 'Pattern' || data === 'Digits') {
                    group.nextAll().show();
                } else if (data === 'Max' || data === 'Min') {
                    group.nextAll().hide();
                    group.next().show();
                } else {
                }
            }
        };
        selectChange(element, opt);
    };
    // 展开配置
    collapse = function (element) {
        var box = $(element).parents(".table-comment").first();
        var box_content = box.find(".comment-div").eq(1);
        if (!box.hasClass("collapsed-box")) {
            //Convert minus into plus
            $(element).children(":first").removeClass("fa-minus").addClass("fa-plus");
            //Hide the content
            box_content.slideUp(500, function () {
                box.addClass("collapsed-box");
            });
        } else {
            //Convert plus into minus
            $(element).children(":first").removeClass("fa-plus").addClass("fa-minus");
            //Show the content
            box_content.slideDown(500, function () {
                box.removeClass("collapsed-box");
            });
        }
    };
    // 添加验证选择
    addVerify = function (element) {
        var box = $(element).parents(".comment-div").first();
        if ($(element).is(':checked')) {
            box.children().eq(1).show();
        } else {
            box.children().eq(1).find(".btn-group").children(":first").removeClass("btn-success").addClass("btn-danger");
            box.children().eq(1).find(".btn-group").children(":last").removeClass("btn-danger").addClass("btn-success");
            box.children().eq(0).nextAll().hide();
        }
    };
    // 默认/自定义按钮选择
    chooseVerify = function (element) {
        var box = $(element).parent();
        if (box.children(":first").hasClass("btn-danger")) {
            box.children(":first").removeClass("btn-danger").addClass("btn-success");
            box.children(":last").removeClass("btn-success").addClass("btn-danger");
            box.parent().nextAll().show();
        } else {
            box.children(":last").removeClass("btn-danger").addClass("btn-success");
            box.children(":first").removeClass("btn-success").addClass("btn-danger");
            box.parent().nextAll().hide();
        }
    };
    chooseNext = function (element) {
        if ($(element).is(':checked')) {
            $(element).parent().nextAll().show();
        } else {
            $(element).parent().nextAll().hide();
        }
    };
</script>
</html>