<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    $(function () {
        var opt = {
            url: /*[[@{/security/query}]]*/ "",
            container: '#data_table',
            bSort: false,
            columns: [
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 150, orderable: false},
                {sClass: "text-left", sWidth: 250, orderable: false},
                {sClass: "text-left", sWidth: 100, orderable: false},
                {sClass: "text-left", sWidth: "100%", orderable: false}
            ],
            buttons: [
                {
                    id: 'add_btn',
                    type: 'button',
                    text: '新增',
                    title: '新增数据源',
                    class: 'btn btn-primary',
                    action: function () {
                        load_url(/*[[@{/security/add}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
                    }
                }
            ]
        };
        //dt-buttons
        var table = matchAjaxTable(opt, true);
    })
</script>
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <h1>
        数据源
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header" style="padding-bottom: 0 !important;padding-top: 0 !important;">
                    <ol class="breadcrumb" style="margin-bottom: 0 !important; background: transparent;">
                        <li name="breadcrumb" th:each="breadcrumb, stat : ${breadcrumbs}"
                            th:utext="${breadcrumb.text}"
                            th:class="${stat.last} ? ${breadcrumb.cls}"></li>
                    </ol>
                </div>
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped" width="100%">
                        <thead>
                        <tr>
                            <th>数据库类型</th>
                            <th>服务IP</th>
                            <th>端口</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="var, stat : ${data}">
                            <td th:text="${var.code}"></td>
                            <td th:text="${var.namecn}"></td>
                            <td th:text="${var.domain}"></td>
                            <td th:text="${var.url}"></td>
                            <td th:text="${type.get(var.type)}"></td>
                            <td th:utext="${status.get(var.status)}"></td>
                            <td th:utext="${var.status}"></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'edit(\'' + ${var.guid} + '\');'"
                                        th:data-original-title="'编辑' + ${var.namecn} + ''" data-placement="right">
                                    <span class="fa fa-edit"></span>编辑
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'disable(\'' + ${var.guid} + '\');'" th:if="${var.status == 1}"
                                        th:data-original-title="'禁用' + ${var.namecn} + ''" data-placement="right">
                                    <span class="fa fa-ban"></span>禁用
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'valid(\'' + ${var.guid} + '\');'" th:if="${var.status == 2}"
                                        th:data-original-title="'启用' + ${var.namecn} + ''" data-placement="right">
                                    <span class="fa fa-check-square-o"></span>启用
                                </button>
                                <button type="button" class="btn btn-default btn-sm dt-btn"
                                        th:onclick="'child(\'' + ${var.guid} + '\');'"
                                        th:data-original-title="查看系统菜单" data-placement="right">
                                    <span class="fa fa-search"></span>查看
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
    });

    function edit(guid) {
        load_url(/*[[@{/system/edit}]]*/ "", $('.content-wrapper'), {guid: guid});
    }

    function disable(guid) {
        var opt = {
            callback: function (result) {
                load_url(/*[[@{/system/index}]]*/ "", $('.content-wrapper'));
            }
        };
        ajax_action(/*[[@{/system/disable}]]*/ "", {guid: guid}, opt);
    }

    function valid(guid) {
        var opt = {
            callback: function (result) {
                load_url(/*[[@{/system/index}]]*/ "", $('.content-wrapper'));
            }
        };
        ajax_action(/*[[@{/system/valid}]]*/ "", {guid: guid}, opt);
    }

    function child(guid) {
        load_url(/*[[@{/menu/index}]]*/ "", $('.content-wrapper'), {sysguid: guid});
    }
</script>
</html>