<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/layout :: head"></head>
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="data_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>字典编号</th>
                                <th>字典内容</th>
                                <th>字典描述</th>
                                <th>排序</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>

<div th:include="common/layout :: script"></div>
<script th:inline="javascript">
    $(function () {
        matchTable(/*[[@{/query}]]*/ "", '#data_table', [
            {sClass: "text-left", sWidth: 150, sScrollY: 40, data: "number"},
            {sClass: "text-left", sWidth: 200, data: "content", orderable: false},
            {sClass: "text-left", sWidth: "60%", data: "description", orderable: false},
            {sClass: "text-left", sWidth: 30, data: "sort"},
            {
                sClass: "text-left", sWidth: 50, orderable: false, data: function (obj) {
                    return obj.statusValue;
                }
            },
            {
                sClass: "text-left", sWidth: "100%", orderable: false, data: function (obj) {
                    return "<button type=\"button\" class=\"btn label dt-btn\">编辑</button><button type=\"button\" class=\"btn label dt-btn\">删除</button>";
                }
            }
        ], {
            'number': 'sdssdsdd',
            'content': 'sdssdsdd'
        })
    })
</script>
</body>
</html>