<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/layout :: DTHead"></head>
<body>
<script th:inline="javascript">
    $(function () {
        var opt = {
            columns: [
                {sClass: "text-left", sWidth: 150, sScrollY: 40},
                {sClass: "text-left", sWidth: 200, orderable: false},
                {sClass: "text-left", sWidth: "60%", orderable: false},
                {sClass: "text-left", sWidth: 30},
                {sClass: "text-left", sWidth: 50, orderable: false},
                {sClass: "text-left", sWidth: "100%", orderable: false}
            ],
            buttons: [
                {
                    text: 'My button',
                    action: function (e, dt, node, config) {
                        alert('Button activated');
                    }
                },
                {
                    text: 'My button',
                    action: function (e, dt, node, config) {
                        alert('Button activated');
                    }
                },
                {
                    extend: 'collection',
                    text: 'Flag',
                    buttons: [
                        { text: 'High priority',   action: function () {  } },
                        { text: 'Medium priority', action: function () {  } },
                        { text: 'Low priority',    action: function () {  } }
                    ],
                    fade: true
                }
            ]
        };
        //dt-buttons
        matchDomTable('#data_table', opt, true);
    })
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="data_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>字典编号</th>
                                <th>字典内容</th>
                                <th>字典描述</th>
                                <th>排序</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="var, stat : ${data}">
                                <td th:text="${var.number}"></td>
                                <td th:text="${var.content}"></td>
                                <td th:text="${var.description}"></td>
                                <td th:text="${var.sort}"></td>
                                <td th:utext="${var.statusValue}"></td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm dt-btn"><i
                                            class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-default btn-sm dt-btn"><i
                                            class="fa fa-ban"></i></button>
                                    <button type="button" class="btn btn-default btn-sm dt-btn"><i
                                            class="fa fa-check-square-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm dt-btn"><i
                                            class="fa fa-search"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>
<div th:include="common/layout :: script"></div>
<script th:inline="javascript">
    $(function () {
        //显示tooltip
        $("[data-original-title]").tooltip();
    })
    // <span th:each="fileList:${affixList}">
    //     <a href="javascript:;" th:onclick="'javascript:dowloadAffix('+${fileList.guid}+');'" th:text="${fileList.name}+'.'+${fileList.suffix}"></a>
    //     <del th:onclick="'javascript:fileDel('+${fileList.guid}+',this);'"><i class="fa fa-remove"></i></del><br>
    // <label>&nbsp;</label>
    // </span>
    // <span th:each="fileList:${affixList}">
    //     <a class="separateFileName" href="javascript:;"
    // th:onclick="'javascript:dowloadAffix('+${fileList.guid}+');'"
    // th:text="${fileList.name}+'.'+${fileList.suffix}"></a>
    //     <del th:onclick="'javascript:fileDel('+${fileList.guid}+',this);'"><i class="fa fa-remove"></i></del><br>
    // <label>&nbsp;</label>
    // </span>
</script>
</body>
</html>