<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <h1>
        数据源
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header" style="padding-bottom: 0 !important;padding-top: 0 !important;">
                    <ol class="breadcrumb" style="margin-bottom: 0 !important; background: transparent;">
                        <li name="breadcrumb" th:each="breadcrumb, stat : ${breadcrumbs}"
                            th:utext="${breadcrumb.text}"
                            th:class="${stat.last} ? ${breadcrumb.cls}"></li>
                    </ol>
                </div>
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    $(function () {
        var opt = {
            url: /*[[@{/security/query}]]*/ "",
            container: '#data_table',
            bSort: false,
            columns: [
                {sClass: "text-left", sWidth: 150, orderable: false, data: "type", title: "数据库类型"},
                {sClass: "text-left", sWidth: 150, orderable: false, data: "serverip", title: "服务IP"},
                {sClass: "text-left", sWidth: 100, orderable: false, data: "port", title: "端口"},
                {sClass: "text-left", sWidth: 170, orderable: false, data: "username", title: "用户名"},
                {sClass: "text-left", sWidth: 170, orderable: false, data: "password", title: "密码"},
                {
                    sClass: "text-left",
                    sWidth: "100%",
                    orderable: false,
                    data: null,
                    title: "操作",
                    defaultContent: ""
                }
            ],
            columnsButtons: [
                {
                    text: '编辑',
                    class: 'btn btn-default btn-sm dt-btn',
                    action: 'edit',
                    icon: '<span class="fa fa-edit"></span>'
                },
                {
                    text: '数据校验',
                    class: 'btn btn-default btn-sm dt-btn',
                    action: 'verify',
                    icon: '<span class="fa fa-edit"></span>'
                }
            ],
            params : {
                cc : "cc"
            },
            form: [
                {
                    type: 'text',
                    id: 'serverip',
                    text: '根据IP查询'
                },
                {
                    type: 'text',
                    id: 'username',
                    text: '根据用户名查询'
                },
                {
                    type: 'button',
                    action: function () {
                        table.ajax.reload();
                    }
                }
            ],
            buttons: [
                {
                    id: 'add_btn',
                    type: 'button',
                    text: '新增',
                    title: '新增数据源',
                    class: 'btn btn-primary',
                    action: function () {
                        load_url(/*[[@{/security/add}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
                    }
                }
            ]
        };
        //dt-buttons
        var table = matchAjaxTable(opt, true);
        //显示tooltip
        $("[data-original-title]").tooltip();
    });

    function edit(id) {
        load_url(/*[[@{/security/edit}]]*/ "", $('.content-wrapper'), {id: id});
    }

    function verify(id) {
        load_url(/*[[@{/security/verify}]]*/ "", $('.content-wrapper'), {id: id});
    }
</script>
</html>