<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .nav-stacked li {
        word-wrap: break-word;
        word-break: break-all;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        数据校验配置
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- left column -->
    <div class="col-md-3 left-column">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">数据库信息</h3>
            </div>
            <div id="databases_list" class="box-body" style="overflow-y: scroll;">
                <div th:each="var, stat : ${databases}" class="box box-danger collapsed-box box-solid"
                     style="margin-bottom: 2px !important;">
                    <div class="box-header with-border" style="border-bottom: 0 !important;">
                        <h3 class="box-title">
                            <i class="fa fa-database"></i><span style="margin-left: 5px;" th:text="${var}"></span>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                    th:onclick="'dbChoose(\'' + ${var} + '\', this);'">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-stacked"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 right-column">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">表结构信息</h3>
                <div class="box-tools">
                    <a href="javascript:void(0)" onclick="frontend()" class="btn btn-sm btn-primary btn-flat">生成前端验证</a>
                    <a href="javascript:void(0)" onclick="backend()" class="btn btn-sm btn-warning btn-flat">生成后台验证</a>
                    <a href="javascript:void(0)" onclick="goBack()" class="btn btn-sm btn-default btn-flat">返回数据源</a>
                </div>
            </div>
            <input type="file" id="fileUpload" name="fileUpload" style="display: none;" onchange="backendSubmit()"/>
            <form class="form-horizontal">
                <div id="table_desc" class="box-body"></div>
            </form>
        </div>
    </div>
</section>
<input type="hidden" id="id" th:value="${datasource.id}"/>
<script th:inline="javascript">
    $(function () {
        $('#databases_list').height(win.height - 145);
        $('#table_desc').height(win.height - 145);
        //显示tooltip
        $('[data-original-title]').tooltip();
    });
    dbChoose = function (database, obj) {
        var box = $(obj).parent().parent().parent();
        var list = box.find('.nav-stacked');
        if (box.hasClass("collapsed-box") && list.children().length === 0) {
            var opt = {
                waiting: false,
                handler: function (result) {
                    $.each(result.dataSet, function (i, value) {
                        list.append('<li><a href="javascript:void(0);" onclick="descTable(\'' + database + '\',\'' + value + '\');"><i class="fa fa-table"></i><span style="margin-left: 5px;">' + value + '</span></a></li>');
                    });
                }
            };
            ajax_action(/*[[@{/security/loadTables}]]*/ "", {
                database: database,
                id: $('#id').val()
            }, opt);
        }
    };
    descTable = function (database, table) {
        load_url(/*[[@{/security/descTable}]]*/ "", $('#table_desc'), {
            id: $('#id').val(),
            database: database,
            table: table
        });
    };
    goBack = function () {
        load_url(/*[[@{/security/index}]]*/ "", $('.content-wrapper'), {parent: $('#parent').val()});
    };
    backend = function () {
        $('#fileUpload').trigger('click');
    };

    frontend = function () {
        var params = buildParams();

        var opt = {
            contentType: 'application/json; charset=utf-8',
            waiting: false,
            handler: function (result) {
                var url = /*[[@{/security/downloadVerify}]]*/ "";
                window.location.href = url + "?fileName=" + result.result;
            }
        };
        ajax_action(/*[[@{/security/frontendVerify}]]*/ "", JSON.stringify(params), opt);
    };

    buildParams = function () {
        var form = $('.form-horizontal');
        var verifys = form.find('input[name="verify"]:checked');
        if (verifys.length === 0) {
            alert("请配置表的验证规则");
            return;
        }
        var data = [];
        $.each(verifys, function (i, element) {
            var json = {};
            var box = $(element).parents('.comment-div').first();
            var fieldType = $(element).attr('fieldType');
            json.name = $(element).val();
            json.type = box.find('#verifyType').val();
            if (json.type === 'custom') {
                json.notNull = box.find('#notNull').prop('checked');
                // character
                if (fieldType.indexOf('char') > -1) {
                    if (box.find('#charLength').is(':checked')) {
                        json.length = {
                            min: box.find('#min').val(),
                            max: box.find('#max').val()
                        };
                    }
                    if (box.find('#fieldPattern').is(':checked')) {
                        if (box.find('#pattern_select').val() === 'custom') {
                            json.pattern = box.find('#charPattern').val();
                        } else {
                            json.pattern = box.find('#pattern_select').val();
                        }
                    }
                } else
                // number
                if (fieldType.indexOf('int') > -1 || fieldType.indexOf('decimal') > -1) {
                    if (box.find('#fieldDigits').is(':checked')) {
                        json.digits = {
                            integer: box.find('#integer').val(),
                            fraction: box.find('#fraction').val()
                        };
                    }
                    if ($.trim(box.find('#number_select').val()) !== '') {
                        if (box.find('#number_select').val() === 'range') {
                            json[box.find('#number_select').val()] = {
                                min: box.find('#numberMin').val(),
                                max: box.find('#numberMax').val()
                            };
                        } else {
                            json[box.find('#number_select').val()] = box.find('#numberMin').val();
                        }
                    }
                } else
                // bit
                if (fieldType.indexOf('bit') > -1) {
                    if ($.trim(box.find('#bit_select').val()) !== '') {
                        json.constraint = box.find('#bit_select').val();
                    }
                } else
                // date
                if (fieldType.indexOf('date') > -1) {
                    if ($.trim(box.find('#date_select').val()) !== '') {
                        if (box.find('#date_select').val() === 'Pattern') {
                            if (box.find('#pattern_select').val() === 'custom') {
                                json.pattern = box.find('#datePattern').val();
                            } else {
                                json.pattern = box.find('#pattern_select').val();
                            }
                        } else {
                            json.constraint = box.find('#date_select').val();
                        }
                    }
                }
            }
            data.push(json);
        });
        return {
            id: $('#id').val(),
            database: $('#database').val(),
            table: $('#table').val(),
            condition: data
        };
    };

    backendSubmit = function () {
        var params = buildParams();
        var opt = {
            fileElementId: 'fileUpload',
            handler: function (result) {
                var url = /*[[@{/security/downloadVerify}]]*/ "";
                window.location.href = url + "?fileName=" + result.result;
            }
        };
        ajax_upload(/*[[@{/security/backendVerify}]]*/ "", params, opt);
    };
</script>
</html>